# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.env

# Django
db.sqlite3
*.log

# Node / React
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/
