# =========================
# Logs
# =========================
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*

# =========================
# Dependencies (IMPORTANT)
# =========================
node_modules
/node_modules
Frontend/node_modules
Frontend/my-react-app/node_modules

# =========================
# Build outputs
# =========================
dist
dist-ssr
.vite
coverage

# =========================
# Environment files
# =========================
.env
.env.*
*.local

# =========================
# Editor & OS files
# =========================
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
Thumbs.db
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
