body {
  background: linear-gradient(135deg, #004e92, #000428);
  font-family: Poppins, sans-serif;
  margin: 0;
  padding: 0;
}

.navbar {
  background: rgba(255, 255, 255, 0.15);
  padding: 15px;
  backdrop-filter: blur(5px);
}

.nav-left a {
  margin-right: 20px;
  text-decoration: none;
  color: white;
  font-size: 18px;
}

.card {
  max-width: 450px;
  margin: 60px auto;
  background: white;
  padding: 30px;
  border-radius: 18px;
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.3);
}

.card h2 {
  color: #003366;
  text-align: center;
}

input, select {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: 2px solid #ccc;
  font-size: 16px;
}

button {
  width: 100%;
  padding: 12px;
  background: #003366;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background: #001f3f;
}

.home {
  text-align: center;
  color: white;
}
